#IDE ignore settings
#IntelliJ
.idea
*.iml
*.iws
*.ipr

#Eclipse
.project
.classpath
.settings



#Standard Clojure ignore settings
/target
/lib
/classes
/checkouts
pom.xml
*.jar
*.class
.lein-deps-sum
.lein-failures
.lein-plugins
.lein-env

.nrepl-port
*.sq3
